*,
*::before,
*::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body
{
    background-color: #000;
    color: white;
    width: 100vw;
    min-height: 100vh;
}

app-link
{
    color: #3effd8;
    text-decoration: none;
    cursor: pointer;
}

.anim-bg
{
    background-image: radial-gradient(
        #00ffef, 
        #00f0fb, 
        #00e1ff, 
        #00d0ff, 
        #00beff, 
        #00afff, 
        #009eff, 
        #008cff, 
        #0077ff, 
        #005fff, 
        #0041ff, 
        #1f00ff
    );
    background-size: 200% 200%;
    animation: pan 5s linear infinite forwards;
}

@keyframes pan
{
    0%
    {
        background-position: 0 0;
    }

    25%
    {
        background-position: 100% 0;
    }

    50%
    {
        background-position: 100% 100%;
    }

    75%
    {
        background-position: 0 100%;
    }

    100%
    {
        background-position: 0 0;
    }
}

body
{
    display: grid;
    grid-template-rows: max-content 1fr;
}

header
{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 2rem 0 2rem 0;
}

.logo
{
    text-align: center;
    width: max-content;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    user-select: none;
}

main
{
    padding: 2rem;
    height: 100%;
}

.load-spinner
{
    position: absolute;
    
}
